@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: "outfit";
    font-size: 18px;
}

.card{
    max-width: 280px;
    height: 520px;
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    margin: auto;
    inset: 0;
    border-radius: 18px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 10% 10% black;

}

.image {
    position: relative;
}

.equilibrium-img {
    width: 100%;
    border-radius: 18px;
}

.svg-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}

.image:hover .svg-view {
    opacity: 1; /* Show the icon on hover */
}

/* Adding overlay effect with ::after pseudo-element */
.image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 255, 248, 0.5); /* Overlay color with transparency */
    opacity: 0; /* Initially hidden */
    border-radius: 18px; /* Matching the image border-radius */
    transition: opacity 0.3s ease;
}

.image:hover::after {
    opacity: 1; /* Show the overlay on hover */
}


h2{
    color: white;
}

h2:hover{
    color: #00FFF8;
}

p{
    color: #7088A7;
}



.block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.author{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 50%;
}

.author-content {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    padding: 8px;
}

.new{
    border-top: 0.5px solid #c6cfdb;
}

span{
    color: #7088A7;
}

.author-content{
    color: white;
}

.author-content:hover{
    color: #00FFF8;
}
.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Centers content vertically */
    margin-top: 20px; /* Add some space above */
}

.ETH, .days {
    display: flex;
    align-items: center; /* Centers content vertically */
    gap: 5px; /* Space between the icon and text */
}

.ETH img, .days img {
    width: 16px; /* Adjust size of icons if needed */
    height: 16px;
}
.ETH{
    color: #00FFF8;
}

.days{
    color: #7088A7
}

.attribution{
    position: absolute;
    margin: auto;
    bottom: 3%;
    left: 33%;
    right: 33%;
    color: white;
}